@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Julius+Sans+One&display=swap');

body{
    background-color: #FCDABF;
}

*{
    margin: 0 auto;
    padding: 0 auto;
    font-weight: bold;
}

li{
    list-style: none;
}
a{
    color: #C40839;
    text-decoration: none;
}

button{
    cursor: pointer;
    width: 15rem;
    height: 3rem;    
    border-radius: 20px;
    border: none;
    font-size: 1.5rem;

    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.26);
}

footer{
    background-color: #C40839;
    position: fixed;
    z-index: -1 ;
    width: 100%;
}