<div class="sections-top">
    <section class="sec-container">
        <main class="main-content">
            <div class="main-title">
                <h1>LOREM IPSUM DOLOR</h1>
            </div>
            <div class="main-text">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. <br>Dolore unde ducimus totam! Velit
                    accusamus numquam <br>cum ex eligendi vero blanditiis nemo autem quas provident <br>voluptate
                    recusandae, dignissimos magni dolores obcaecati.</p>
            </div>
            <div class="main-btn">
                <button>BUY FLOWERS</button>
            </div>
        </main>
    </section>
    <section class="sec-container">
        <main>
            <div class="main-img">
                <img src="/assets/imgs/Section.png" alt="">
            </div>
        </main>
    </section>
</div>
<div class="sections-mid">
    <section class="section-left">
        <main class="section-left-container">
            <div class="section-left-title">
                <h1>STORE</h1>
            </div>
            <div class="section-left-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Id exercitationem debitis ex excepturi.
                Nobis cum esse eligendi, <br>deleniti quis sit commodi nemo natus <br>laudantium ad quidem accusantium,
                harum maxime <br>nostrum!
            </div>
            <div class="section-left-btn">
                <button>BUY FLOWERS</button>
            </div>
        </main>
    </section>
    <section class="section-right">
        <div class="section-cards-3">
            <div class="cards">
                <h1>Tulips</h1>
                <img src="/assets/imgs/Component 1 (2).png" alt="">
                <p>$10</p>
                <button>BUY</button>
            </div>
            <div class="cards">
                <h1>Tulips</h1>
                <img src="/assets/imgs/Component 1 (2).png" alt="">
                <p>$10</p>
                <button>BUY</button>
            </div>
            <div class="cards">
                <h1>Tulips</h1>
                <img src="/assets/imgs/Component 1 (2).png" alt="">
                <p>$10</p>
                <button>BUY</button>
            </div>
        </div>
        <div class="sections-card-2">
            <div class="card-M">
                <h1>Tulips</h1>
                <img src="/assets/imgs/Component 1 (2).png" alt="">
                <p>$10</p>
                <button>BUY</button>
            </div><div class="card-m">
                <h1>Tulips</h1>
                <img src="/assets/imgs/Component 1 (2).png" alt="">
                <p>$10</p>
                <button>BUY</button>
            </div>
        </div>
    </section>
</div>
<div class="section-bot">
    <section class="section-right">
        fsdfsdfdsf
    </section>
</div>