<div class="sections">
    <section class="sec-container">
        <main class="main-content">
            <div class="main-title">
                <h1>LOREM IPSUM DOLOR</h1>
            </div>
            <div class="main-text">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. <br>Dolore unde ducimus totam! Velit accusamus numquam <br>cum ex eligendi vero blanditiis nemo autem quas provident <br>voluptate recusandae, dignissimos magni dolores obcaecati.</p>
            </div>
            <div class="main-btn">
                <button>BUY FLoweRS</button>
            </div>
        </main>
    </section>
    <section class="sec-container">
        <main>
            <div class="main-img">
                <img src="/assets/imgs/Section.png" alt="">
            </div>
        </main>
    </section>
</div>