<header class="header">
    <nav class="nav">
        <div class="nav-left">
            <div class="logo-img">
                <img class="nav-item" src="/assets/imgs/Logonav.png" alt="">
            </div>
        </div>
        <div class="nav-center">
            <ul class="links-nav">
                <a href=""><li class="nav-item">Home</li></a>
                <a href=""><li class="nav-item">Store</li></a>
                <a href=""><li class="nav-item">About Us</li></a>
            </ul>
        </div>
        <div class="nav-right">
            <div class="nav-btn">
            <button><li class="nav-item">Contact US</li></button>
        </div>
        </div>
    </nav>
</header>   